log /var/log/3proxy/%y%m%d.log D
rotate 30
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"

nscache 65536

auth iponly
allow *
# TODO: For production, switch to:
#   users myuser:CL:mypassword
#   auth strong

socks -p1080 -n
proxy -p3128 -n
